{% extends 'base.html' %}

{% block content %}
{% load markdownify %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'meal_plans_update' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plans_delete' mealplan.id %}">Delete</a>
    </div>
    <h2>
    Recipes for {{mealplan.name}} on {{mealplan.date}}
    </h2>
    {% for recipe in object.recipes.all %}
    <p>
    <a href="{% url 'recipe_detail' recipe.pk %}">{{recipe.name}}</a>
    </p>
    {% endfor %}
  </main>
{% endblock content %}